body, h1, h2, h3, p, ul, li, form, input, textarea {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
  }
  
  body {
    background-image: url("hbg.jpg");
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    align-self: center;
    animation: fade-in 2s ease-in-out;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  
  header {
    background-color: rgb(0, 0, 0);
    padding: 20px;
    display: flex;
    justify-content: center;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: color 1s;
  }
  
  nav ul li a:hover {
    color: #8A2124;
  }

  .Me {
    width: 250px;
  }

  .desc {
    font-style: italic;
font-family: "Caveat";
font-size: 40px;
color: #8EB69B;
text-align: center;
  }

  .text {
    height: 350px;
    width: 300px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    border-radius: 30px;
    padding: 10px;
    padding-bottom: 25px;
    padding-top: 6px;
  }

  .AboutMe {
margin-bottom: 30px;
  } 

  .container {
    position: relative;
    display: inline-flex;
  }

  .MyName {
    margin: auto;
  }

  @media screen and (max-width: 767px) {
    .container {
      display: block; /* Display items one atop another on phones */
    }
  }

  @font-face {
    font-family: "Cinzel";
    src: url("Cinzel-VariableFont_wght.ttf") format("truetype")
  }

  @font-face {
    font-family: "Caveat";
    src: url("Caveat-VariableFont_wght.ttf") format("truetype")
  }

  h1 {
    font-size: 400%;
    font-family: "Cinzel";
    animation: fade-in 2s ease-in-out;
    color: white;
    font-weight: 400;
    text-align: center;
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
    animation: fade-in 2s ease-in-out;
    color: white;
    margin-bottom: 30px;
    margin-top: 30px;
    font-family: "Cinzel";
    font-weight: 400;
  }
  
  p {
    margin-bottom: 20px;
    margin-top: 10px;
    animation: fade-in 2s ease-in-out;
    color: white;
  }

  .portfolio-item {
    margin-bottom: 30px;
    animation: fade-in 2s ease-in-out;
    color: white;
  }
  
  .portfolio-item img {
    max-width: 100%;
    height: auto;
    color: white;
  }
  
  footer {
    background-color: rgb(0, 0, 0);
    color: #fff;
    text-align: center;
    padding: 10px;
  }

  .link {
    color: white;
    transition: color 0.3s;
  }

  .link:hover {
    color: #8A2124;
  }

  .grid-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    text-align: center;
  }
  
  .grid-item {
    flex-basis: calc(33.33% - 10px);
  }
  
  .img1 {
    width: 75%;
    height: auto;
  }
  